.trending_Slider {
  max-height: 300px;
}

.title {
  width: 100%;
  height: 30%;
  position: absolute;
  display: none;
  bottom: 0px;
  left: 0px;
  text-align: left;
  border-radius: 6px;
}

.hover_effect:hover .title {
  display: block;
}
.hover_effect:hover .whiteBox {
  display: block;
}
